footer {
	padding: 1.5em;
	font-size: 1.5rem;
	background: #eee;
	> a {
		display: block;
		text-align: center;
		text-decoration: none;
		&:link, 
		&:visited,
		&:hover,
		&:focus,
		&:active {
			color: #1976D2;
		}
	}
}