// logo and searchbar container
header {
	background: #004A9F;
	img {
		width: 10em;
		background: none;
		padding: 1em;
	}
}

// article categories container
nav {
	background: #1976D2;
	padding: 1em;
	overflow-x: scroll;
	white-space: nowrap;
	@include md {
		display: flex;
		justify-content: space-evenly;
	}
	> a {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		@include md {
			width: auto;
		}
		&:not(:last-child) {
			margin-right: 1em;
		}
		&:link, 
		&:visited {
				color: #fff;
		}
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	} 
}