// logo and searchbar container
header {
	background: #004A9F;
	img {
		width: 10em;
		background: none;
		padding: 1em;
	}
}

// article categories container
nav {
	background: #1976D2;
	padding: 1em;
	overflow-x: scroll;
	white-space: nowrap;
	@include md {
		display: flex;
		justify-content: space-evenly;
		overflow-x: hidden;
	}
	> a {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		@include md {
			width: auto;
		}
		&:not(:last-child) {
			margin-right: 1em;
		}
		&:link, 
		&:visited,
		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}
	} 
}

// breadcrumbs container
.breadcrumbs {
	display: flex;
	align-items: center;
	margin: 1.75em 0;
	padding-left: calc(5% + 20px);
  padding-right: calc(5% + 20px);
	list-style-type: none;
	> li {
		margin: 0 .5em 0 0;
		> a {
			text-decoration: none;
			&:link, 
			&:visited,
			&:hover,
			&:focus,
			&:active {
				color: #3277ae;
			}
		}
		> span {
			color: #a79d96;
		}
	}
	> img {
		width: .45em;
		margin: 0 .5em 0 0;
		background: none;
	}
}